<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emotaxi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/new_splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmoTaxi"
        android:usesCleartextTraffic="true">
        <activity android:name=".SelectLanguageActivity" />
        <activity android:name=".AddCardActivity" />
        <activity android:name=".GetStartedActivity" />
        <activity android:name=".OtpVerificationActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".BookingDetailsActivity" />
        <activity android:name=".LocationSelectionActivity" />
        <activity android:name=".CardActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity android:name=".LocationTrackingActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>